

.icon {
    width: 14px;
    height: 14px;
    color: #808080;
}

.input {
    width: 256px;
    margin-left: 11px;
    font-size: 14px;
    height: 24px;
    line-height: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border: none;
    outline: none;
}

.wrapper {
    width: 500px;
    background-color: white;
    margin-left: 22px;
    border-radius: 6px;
}



.container {
    margin: 8px 0 8px 19px;
    display: flex;
    align-items: center;
   
}

@media (max-width:690px) {
    .wrapper {
        width: 256px;
    }

}

@media (max-width:375px) {
    .wrapper {
        margin-left: 3px;
    }
    .input {
    }

}