.container {
    width: 243px;
    margin-top: 221px;
    margin-left: 403px;
    display: flex;
    flex-flow: column;
}

.icon {
    width: 76px;
    height: 62px;
    color: #808080;
    align-self: center;
}

.text {
    margin-top: 48px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 30.8px;
    color: #808080;
}