.container {
    margin-left: 57px;
    margin-top: 39px;
    width: 293px;
    display: flex;
    flex-flow: column;
}

.avatar {
    width: 280px;
    height: 280px;
    border-radius: 140px;
}

.name {
    margin-top: 29px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 26px;
}

.awrapper {
    margin-top: 12px;
}

.login {
    font-size: 18px;
    font-family: Inter, sans-serif;
}

.login, .login:hover, .login:focus, .login:active {
 color:#0064EB
}

.followContainer {
    display: flex;
    margin-top: 25.24px;
}

.followersContainer{
    display: flex;
}

.followersIcon{
    width: 24px;
    height: 24px;
    color:#808080;
}

.followersText{
    margin-left: 9px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.followingContainer{
    display: flex;
}

.followingIcon{
    width: 19px;
    height: 19px;
    margin-left: 20px;
    color:#808080;
}

.followingText{
    margin-left: 9px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

@media (max-width:950px) {
    .container {
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 780px;
    margin-top: 10px;
    } 
    .userDetailsAdaptive {
        margin-left: 30px;
    }
    .name {
        font-size: 40px;
    
    }
    .login {
        font-size: 40px;
    }
    .followersText {
        font-size: 20px;
    }
    .followingText {
        font-size: 20px;
    }

}

@media (max-width:860px) {
    .container {
    width: 660px;
    }


}

@media (max-width:800px) {
    .container {
    width: 600px;
    }
    .avatar {
       width: 220px;
       height: 220px;}

    .followersText {
        font-size: 15px;
    }
    .followingText {
        font-size: 15px;
    }

}

@media (max-width:690px) {
    .container {
    width: 400px;
    }
    .avatar {
       width: 220px;
       height: 220px;}

    .followersText {
        font-size: 15px;
    }
    .followingText {
        font-size: 15px;
    }

}

@media (max-width:600px) {
    .container {
    width: 320px;
    margin-left: 10px;
    }
    .avatar {
       width: 120px;
       height: 120px;}

    .followersText {
        font-size: 15px;
        margin: auto;
    }
    .followingText {
        font-size: 15px;
        margin: auto;
    }
    .name {
        font-size: 20px;
        margin: auto;
    
    }
    .login {
        font-size: 20px;
        margin: auto;
    }

}

@media (max-width:600px) {
    .container {
    width: 400px;
    margin-left: 30px;
    }
    .avatar {
       width: 120px;
       height: 120px;}

    .followersText {
        font-size: 15px;
        margin: auto;
    }
    .followingText {
        font-size: 15px;
        margin: auto;
    }
    .name {
        font-size: 20px;
        margin: auto;
    
    }
    .login {
        font-size: 20px;
        margin: auto;
    }

}

@media (max-width:440px) {
    .container {
    width: 320px;
    margin-left: 2px;
    }
    .userDetailsAdaptive {
        margin-left: 5px;
    }
    .avatar {
       width: 100px;
       height: 100px;}

    .followersText {
        font-size: 5px;
        margin: auto;
    }
    .followingText {
        font-size: 5px;
        margin: auto;
    }
    .name {
        font-size: 15px;
        margin: auto;
    
    }
    .login {
        font-size: 15px;
        margin: auto;
    }

}